Name,Release,Source,Version,epoch,Arch
{% for package in ansible_facts.packages %}
{% for package_details in package %}
{{ inventory_hostname }},{{ package_details.name }},{{package_details.release}},{{package_details,source}},{{package_details.version}},{{package_details.epoch}},{{package_details.arch}}
{% endfor %}
{% endfor %}